@import "../../assets/styles/app";

.tokenPageUnconfirmed {

  .mobileContent {
    @include onlyMobile();

    .mobileTabs {
      height: 48px;
      border-bottom: 1px solid $color_lines;
    }
  }

  .desktopContent {
    @include onlyDesktop(flex);
    position: relative;
    height: 100%;

    .desktopContentLeft {
      width: calc(100vw - $k * (48px + 318px));
      border-right: 1px solid $color_lines;
      position: relative;
      transition: 0.3s;

      .hideBtn {
        @include button;
        @include centerColumn;
        position: absolute;
        width: $k * 16px;
        height: $k * 40px;
        background-color: $color_bg_and_text;
        border: 1px solid $color_lines;
        border-left: 1px solid $color_bg_and_text;
        top: $k * 8px;
        right: 0;
        transform: translateX(100%);
        z-index: 100;
        transition: 0.3s;

        svg {
          width: $k * 7px;
          height: $k * 12px;
        }
      }
    }

    .desktopContentRight {
      position: absolute;
      top: 0;
      right: 0;
      width: $k * 318px;
      height: 100%;
      transition: 0.3s;
    }

    &_hide {

      .desktopContentLeft {
        width: calc(100vw - $k * 48px);

        .hideBtn {
          transform: translateX(0);
          border-left: 1px solid $color_lines;

          svg {
            transform: rotate(180deg);
          }
        }
      }

      .desktopContentRight {
        transform: translateX(100%);
      }
    }

  }
}