@import "../../../assets/styles/app";

.tradesUnconfirmedDesktop {
  @include onlyDesktop();

  .header {
    height: $k * 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid $color_lines;

    p {
      @include centerRow;
      font-weight: 400;
      font-size: $k * 12px;
      line-height: 140%;
      color: $color_body_50;

      &:first-child {
        padding-left: $k * 12px;
        justify-content: flex-start;
      }
    }

  }

  .body {
    overflow-y: auto;

    .row {
      height: $k * 56px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $color_lines;
      }

      & > div {
        @include centerRow;

        &:first-child {
          justify-content: flex-start;
          padding-left: $k * 12px;
        }

        &:not(:last-child) {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: $k * 20px;
            background-color: $color_lines;
          }
        }
      }

      .holders {

        img {
          display: block;
          width: $k * 32px;
          height: $k * 32px;
        }

        p {
          margin-left: $k * 8px;
          font-weight: 400;
          font-size: $k * 12px;
          line-height: 140%;
          color: $color_main_100;
        }
      }

      .type {

        p {
          position: relative;
          background: rgba(173, 231, 84, 0.08);
          border: 1px solid rgba(173, 231, 84, 0.08);
          padding: $k * 2px $k * 4px $k * 2px $k * 16px;
          font-weight: 400;
          font-size: $k * 12px;
          line-height: 140%;
          text-transform: uppercase;
          color: $color_green;

          &::before {
            content: "";
            display: block;
            position: absolute;
            left: $k * 4px;
            top: 50%;
            transform: translateY(-50%);
            width: $k * 6px;
            height: $k * 6px;
            background: $color_green;
          }
        }

        &_sell {
          p {
            border: 1px solid rgba(255, 84, 0, 0.08);
            background: rgba(255, 84, 0, 0.08);
            color: $color_red;

            &::before {
              background: $color_red;
            }
          }
        }

      }

      .pledged {

        svg {
          width: $k * 16px;
          height: $k * 16px;
        }

        p {
          margin-left: $k * 4px;
          font-weight: 400;
          font-size: $k * 12px;
          line-height: 140%;
          color: $color_main_100;

          span {
            color: $color_body_50;
          }
        }
      }

      .price {
        p {
          font-size: $k * 12px;
          line-height: 140%;
          color: $color_main_100;
        }
      }

      .time {
        p {
          font-size: $k * 12px;
          line-height: 140%;
          color: $color_body_50;
        }
      }

      .transaction {

        p {
          font-weight: 400;
          font-size: $k * 12px;
          line-height: 140%;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          text-align: center;
          color: $color_body_50;
        }
      }

    }
  }

}