@import "../../../../assets/styles/app";

.quickPledge {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @include desktop {
    flex-grow: 0;
    width: $k * 327px;
    border-right: 1px solid $color_lines;
  }

  .btn {
    @include button;
    display: flex;
    align-items: center;
    padding: 0 12px;

    @include desktop {
      padding: 0 $k * 12px;
    }

    .switcher {
      position: relative;
      width: 38px;
      height: 20px;
      border-radius: 999px;
      border: 1px solid $color_lines;
      transition: 0.3s;

      @include desktop {
        width: $k * 38px;
        height: $k * 20px;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background-color: #FFF;
        border-radius: 50%;
        transition: 0.3s;

        @include desktop {
          left: $k * 4px;
          width: $k * 12px;
          height: $k * 12px;
        }
      }
    }

    p {
      white-space: nowrap;
      margin-left: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_body_50;
      transition: 0.3s;

      @include desktop {
        margin-left: $k * 12px;
        font-size: $k * 12px;
      }
    }

    &_switched {

      .switcher {

        &::after {
          left: 22px;
          background-color: $color_main;

          @include desktop {
            left: $k * 22px;
          }
        }

      }

    }

  }

  .form {
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-left: 1px solid $color_lines;
    transition: 0.3s;

    @include desktop {
      padding-left: $k * 12px;
    }

    svg {
      path {
        fill: #FFF;
        fill-opacity: 0.5;
        transition: 0.3s;
      }
    }

    input {
      display: block;
      width: 60px;
      background: none;
      border: none;
      outline: none;
      margin-left: 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: $color_main_100;
      transition: 0.3s;

      @include desktop {
        margin-left: $k * 4px;
        font-size: $k * 12px;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_body_50;

        @include desktop {
          font-size: $k * 12px;
        }
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      -moz-appearance: textfield;
    }
  }


  &_light {

    .btn {

      .switcher {
        border: 1px solid $color_light_version_lines;

        &::after {
          background-color: #09090A;
        }
      }

      p {
        color: $color_light_version_gray;
      }
    }

    .value {
      border-color: $color_light_version_lines;

      svg {
        path {
          fill: #6C7583;
          fill-opacity: 1;
        }
      }

      p {
        color: $color_bg_and_text;
      }
    }


  }


}