@import "../../../assets/styles/app";

.mainInfo {
  height: calc(100vh - 48px - 48px);
  overflow-y: auto;
  border-bottom: 1px solid $color_lines;

  @include desktop {
    height: auto;
    overflow-y: unset;
  }

  .header {
    @include onlyMobile(flex);
    align-items: center;
    height: 36px;
    padding-left: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color_main_100;
    border-bottom: 1px solid $color_lines;

    @include desktop {
      height: $k * 36px;
      padding-left: $k * 12px;
      font-size: $k * 12px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    .contentMain {
      flex-shrink: 0;
      display: flex;
      height: 72px;
      border-bottom: 1px solid $color_lines;

      @include desktop {
        height: $k * 72px;
        width: $k * 256px;
        border-bottom: none;
        border-right: 1px solid $color_lines;
      }

      .contentMain_left {
        display: flex;
        align-items: center;
        padding-left: 12px;
        flex-grow: 1;
        border-right: 1px solid $color_lines;

        @include desktop {
          padding-left: $k * 12px;
        }

        & > img {
          display: block;
          width: 50px;
          height: 50px;

          @include desktop {
            width: $k * 50px;
            height: $k * 50px;
          }
        }

        .contentMain_left_right {
          margin-left: 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @include desktop {
            margin-left: $k * 12px;
          }

          & > .top {
            display: flex;
            align-items: center;

            p {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              text-transform: uppercase;
              color: $color_main_100;

              @include desktop {
                font-size: $k * 12px;
              }
            }

            & > svg {
              width: 12px;
              height: 12px;
              margin-left: 4px;

              @include desktop {
                width: $k * 12px;
                height: $k * 12px;
                margin-left: $k * 4px;
              }
            }

            a {
              @include centerRow;
              width: 12px;
              height: 12px;
              margin-left: 4px;

              @include desktop {
                width: $k * 12px;
                height: $k * 12px;
                margin-left: $k * 4px;
              }

              svg {
                height: 100%;
                width: 100%;
              }
            }
          }

          & > .bottom {
            margin-top: 4px;
            display: flex;
            align-items: center;

            @include desktop {
              margin-top: $k * 4px;
            }

            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: $color_body_50;

              @include desktop {
                font-size: $k * 12px;
              }
            }

            button {
              @include button;
              margin-left: 4px;
              width: 16px;
              height: 16px;

              @include desktop {
                margin-left: $k * 4px;
                width: $k * 16px;
                height: $k * 16px;
              }

              svg {
                width: 16px;
                height: 16px;

                @include desktop {
                  width: $k * 16px;
                  height: $k * 16px;
                }
              }
            }
          }

        }
      }

      & > .right {
        display: flex;
        flex-direction: column;

        & > button {
          width: 36px;
          height: 36px;

          @include desktop {
            width: $k * 36px;
            height: $k * 36px;
          }

          &:nth-child(1) {
            border-bottom: 1px solid $color_lines;

            svg {
              width: 16px;
              height: 16px;

              @include desktop {
                width: $k * 16px;
                height: $k * 16px;
              }

              path {
                fill-opacity: 1;
                fill: $color_main;
              }
            }
          }

        }
      }


    }

    .contentOther {
      width: 100%;
      overflow-x: auto;

      .inner {
        display: flex;
        align-items: center;
        height: 62px;
        width: 814px;
        overflow-x: auto;

        @include desktop {
          flex-grow: 1;
          height: $k * 72px;
          width: 100%;
        }

        & > div {
          @include centerRow;

          &:not(:last-child) {
            position: relative;

            &::after {
              position: absolute;
              content: "";
              display: block;
              width: 1px;
              height: 27px;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              background-color: $color_lines;

              @include desktop {
                height: $k * 27px;
              }
            }
          }

        }

        .columnCell {
          & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > p {
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: $color_body_50;

              @include desktop {
                font-size: $k * 12px;
              }
            }

            & > div {
              margin-top: 4px;
              display: flex;
              align-items: center;

              @include desktop {
                margin-top: $k * 4px;
              }

              svg {
                margin-right: 4px;

                @include desktop {
                  margin-right: $k * 4px;
                }

                path {
                  fill: #FFF;
                  fill-opacity: 0.5;
                }
              }

              p {
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: $color_main_100;

                @include desktop {
                  font-size: $k * 12px;
                }
              }
            }
          }
        }

        .followers {
          width: 103px;
          justify-content: flex-start;
          padding-left: 12px;

          @include desktop {
            width: calc((95 / 814) * 100%);
            padding-left: $k * 12px;
          }

          svg {
            @include desktop {
              width: $k * 16px;
              height: $k * 16px;
            }
          }
        }

        .charity {
          width: 100px;

          @include desktop {
            width: calc((84 / 814) * 100%);
          }
        }


        .created {
          width: 100px;

          @include desktop {
            width: calc((84 / 814) * 100%);
          }
        }

        .marketCap {
          width: 166px;

          @include desktop {
            width: calc((150 / 814) * 100%);
          }
        }

        .currentPrice {
          width: 144px;

          @include desktop {
            width: calc((142 / 814) * 100%);
          }

          svg {
            @include desktop {
              width: $k * 16px;
              height: $k * 16px;
            }
          }
        }

        .saved, .holders, .comments {
          svg {
            @include desktop {
              width: $k * 12px;
              height: $k * 12px;
            }
          }
        }

        .saved {
          width: 85px;

          @include desktop {
            width: calc((70 / 814) * 100%);
          }
        }

        .holders {
          width: 100px;

          @include desktop {
            width: calc((84 / 814) * 100%);
          }
        }

        .comments {
          width: 99px;

          @include desktop {
            width: calc((99 / 814) * 100%);
          }
        }
      }
    }
  }

  .graph {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: fill;

    @include desktop {
      height: $k * 376px;
    }
  }

}