@import "../../assets/styles/app";

.leaderboardPage {

  .title {
    padding: 0 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color_main_100;
    height: 48px;
    display: flex;
    align-items: center;

    @include desktop {
      padding: $k * 12px;
      font-size: $k * 12px;
      height: $k * 48px;
    }
  }

  .tabs {
    @include onlyMobile(grid);
    border-top: 1px solid $color_lines;
    border-bottom: 1px solid $color_lines;
    height: 36px;

    @include desktop {
      height: $k * 36px;
    }

  }

  .mobileContent {
    @include onlyMobile();
  }

  .desktopContent {
    @include onlyDesktop(grid);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $k * 12px;
  }


}