@import "../../assets/styles/app";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color_bg_and_text;
  transition: 0.3s;

  @include desktop {
    height: 100vh;
    overflow: hidden;
  }

  &_light {
    background: $color_light_version_white;
  }

  main {
    flex-grow: 1;
    display: flex;

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  }

}