@import "../../../assets/styles/app";

.share {
  @include centerColumn;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color_pop_up_bg;
  backdrop-filter: blur(5px);

  .card {
    width: 100%;
    max-width: 440px;
    border: 1px solid $color_lines;
    background-color: $color_bg_and_text;

    .cardHeader {
      height: 36px;
      display: flex;
      border-bottom: 1px solid $color_lines;

      .cardHeaderLeft {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 12px;

        span {
          margin-left: 8px;
          font-weight: 700;
          font-size: 12px;
          line-height: 140%;
          text-transform: uppercase;
          color: $color_main_100;
        }
      }

      .closeBtn {
        flex-shrink: 0;
        width: 36px;
        border-left: 1px solid $color_lines;

      }
    }

    .description {
      padding: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: $color_body_50;
      border-bottom: 1px solid $color_lines;
    }

    .cardFooter {
      height: 48px;
      display: flex;

      .left {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 8px;

        .iconWrapper {
          @include centerRow;
          width: 32px;
          height: 32px;
          border: 1px solid $color_lines;
        }

        .link {
          margin-left: 12px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_main_100;
        }
      }

      .copyBtn {
        flex-shrink: 0;
        width: 48px;
        border-left: 1px solid $color_lines;

        svg {
          path {
            transition: 0.3s;
          }
        }

        &_copied {
          svg {
            path {
              fill: $color_green;
            }
          }
        }
      }
    }
  }
}