@import "../../../assets/styles/app";

.claimModal {
  @include centerColumn;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color_pop_up_bg;
  backdrop-filter: blur(5px);


  .card {
    width: 100%;
    max-width: 440px;
    border: 1px solid $color_lines;
    background-color: $color_bg_and_text;

    @include desktop {
      max-width: $k * 440px;
    }

    .cardHeader {
      height: 36px;
      display: flex;
      border-bottom: 1px solid $color_lines;

      @include desktop {
        height: $k * 36px;
      }

      .cardHeaderLeft {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 12px;

        @include desktop {
          padding-left: $k * 12px;
        }

        svg {

          path {
            fill-opacity: 1;
          }

          @include desktop {
            width: $k * 16px;
            height: $k * 16px;
          }

        }

        p {
          margin-left: 8px;
          font-weight: 700;
          font-size: 12px;
          line-height: 140%;
          text-transform: uppercase;
          color: $color_main_100;

          @include desktop {
            margin-left: $k * 8px;
            font-size: $k * 12px;
          }

          span {
            color: $color_main;
          }
        }
      }

      .closeBtn {
        flex-shrink: 0;
        width: 36px;
        border-left: 1px solid $color_lines;

        @include desktop {
          width: $k * 36px;
        }

        svg {
          @include desktop {
            width: $k * 16px;
            height: $k * 16px;
          }
        }
      }
    }

    .timerWrapper {
      border-bottom: 1px solid $color_lines;
      padding: 24px 12px 36px;

      @include desktop {
        padding: $k * 24px $k * 12px $k * 12px;
      }

      .timerWrapperMobile {
        @include onlyMobile(flex);
        justify-content: center;
      }

      .timerWrapperDesktop {
        @include onlyDesktop(flex);
        justify-content: center;
      }

      .description {
        margin-top: 24px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_body_50;

        @include desktop {
          margin-top: $k * 24px;
          font-size: $k * 12px;
        }
      }


    }

    .tasks {

      .task {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        padding-left: 8px;
        padding-right: 12px;

        &:not(:last-child) {
          border-bottom: 1px solid $color_lines;
        }

        @include desktop {
          height: $k * 48px;
          padding-left: $k * 8px;
          padding-right: $k * 12px;
        }

        .taskLeft {
          display: flex;
          align-items: center;

          .icon {
            @include centerRow;
            border: 1px solid $color_lines;
            width: 32px;
            height: 32px;

            @include desktop {
              width: $k * 32px;
              height: $k * 32px;
            }

            svg {
              width: 16px;
              height: 16px;

              @include desktop {
                width: $k * 16px;
                height: $k * 16px;
              }
            }
          }

          p {
            margin-left: 12px;
            font-weight: 700;
            font-size: 12px;
            line-height: 140%;
            text-transform: uppercase;
            color: $color_body_50;

            @include desktop {
              margin-left: $k * 12px;
              font-size: $k * 12px;
            }
          }

        }

        .btn {
          border: 1px solid $color_lines;
          width: 68px;
          height: 25px;

          @include desktop {
            width: $k * 68px;
            height: $k * 25px;
          }
        }

        &_done {
          .taskLeft {
            .icon {
              border-color: #FFF;

              svg {
                path {
                  fill-opacity: 1;
                }
              }
            }

            p {
              color: #FFF;
            }
          }
        }
      }
    }
  }
}