@import "../../../assets/styles/app";

.favoriteSingle {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  outline: 3px solid transparent;

  &_canDrop {
    outline: 3px solid rgba(255, 255, 255, 1.0);
  }

  &_isOver {
    outline: 3px solid green;
  }

  &_isDragging {
    outline: none!important;
    animation: none!important;
  }

  &:not(:first-child) {
    margin-top: 8px;
  }

  img {
    width: 32px;
    height: 32px;
  }
}