@import "../../../assets/styles/app";

.createNewToken {
  @include centerColumn;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color_pop_up_bg;
  backdrop-filter: blur(5px);

  .card {
    width: 100%;
    max-width: 440px;
    border: 1px solid $color_lines;
    background-color: $color_bg_and_text;

    @include desktop {
      max-width: $k * 440px;
    }

    .cardHeader {
      height: 36px;
      display: flex;
      border-bottom: 1px solid $color_lines;

      @include desktop {
        height: $k * 36px;
      }

      .cardHeaderLeft {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 12px;

        @include desktop {
          padding-left: $k * 12px;
        }

        svg {
          width: 16px;
          height: 16px;

          @include desktop {
            width: $k * 16px;
            height: $k * 16px;
          }
        }

        span {
          margin-left: 8px;
          font-weight: 700;
          font-size: 12px;
          line-height: 140%;
          text-transform: uppercase;
          color: $color_main_100;

          @include desktop {
            margin-left: $k * 8px;
            font-size: $k * 12px;
          }
        }
      }

      .closeBtn {
        flex-shrink: 0;
        width: 36px;
        border-left: 1px solid $color_lines;

        @include desktop {
          width: $k * 36px;
        }

        svg {
          width: 16px;
          height: 16px;

          @include desktop {
            width: $k * 16px;
            height: $k * 16px;
          }
        }
      }
    }

    .description {
      padding: 12px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: $color_body_50;

      @include desktop {
        padding: $k * 12px;
        font-size: $k * 12px;
      }

     &:not(:last-child) {
       border-bottom: 1px solid $color_lines;
     }

      span {
        color: $color_main;
      }

      .link {
        text-decoration: none;
        color: $color_main;
      }
    }

    .form {

      .field {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 8px;
        border-bottom: 1px solid $color_lines;

        @include desktop {
          height: $k * 48px;
          padding: 0 $k * 8px;
        }

        .icon {
          @include centerRow;
          flex-shrink: 0;
          border: 1px solid $color_lines;
          width: 32px;
          height: 32px;

          @include desktop {
            width: $k * 32px;
            height: $k * 32px;
          }

          svg {
            width: 16px;
            height: 16px;

            @include desktop {
              width: $k * 16px;
              height: $k * 16px;
            }
          }
        }

        input {
          flex-grow: 1;
          margin-left: 12px;
          background: none;
          border: none;
          outline: none;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_main_100;

          @include desktop {
            margin-left: $k * 12px;
            font-size: $k * 12px;
          }

          &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: $color_body_50;

            @include desktop {
              font-size: $k * 12px;
            }
          }
        }
      }

      .error {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 8px;
        border-bottom: 1px solid $color_lines;

        @include desktop {
          height: $k * 48px;
          padding: 0 $k * 8px;
        }

        .icon {
          @include centerRow;
          flex-shrink: 0;
          background: rgba(255, 61, 0, 0.08);
          width: 32px;
          height: 32px;

          @include desktop {
            width: $k * 32px;
            height: $k * 32px;
          }

          svg {
            width: 16px;
            height: 16px;

            @include desktop {
              width: $k * 16px;
              height: $k * 16px;
            }
          }
        }

        p {
          margin-left: 12px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_red;

          @include desktop {
            margin-left: $k * 12px;
            font-size: $k * 12px;
          }
        }
      }

      .btn1, .btn2 {
        width: 100%;
        height: 48px;
        border-bottom: 1px solid $color_lines;

        @include desktop {
          height: $k * 48px;
        }
      }

      .btn1 {
        margin-top: 24px;
        border-top: 1px solid $color_lines;

        @include desktop {
          margin-top: $k * 24px;
        }
      }

    }

    .goToBtn {
      width: 100%;
      height: 48px;

      @include desktop {
        height: $k * 48px;
      }
    }

  }
}