@import "../../../assets/styles/app";

.controlPanel {
  width: 100%;
  border-bottom: 1px solid $color_lines;
  transition: 0.3s;

  @include desktop {
    display: flex;
  }

  .topPartMobile, .middlePartMobile, .bottomPartMobile {
    @include onlyMobile(flex);
    height: 36px;
    border-bottom: 1px solid $color_lines;
    transition: 0.3s;

    @include desktop {
      height: $k * 36px;
    }
  }

  .desktop {
    @include onlyDesktop(flex);
    width: 100%;
    height: 36px;

    @include desktop {
      height: $k * 36px;
    }
  }

  &_light {
    border-color: $color_light_version_lines;

    .topPartMobile, .middlePartMobile, .bottomPartMobile {
      border-color: $color_light_version_lines;
    }
  }

}