@import "../../../assets/styles/app";

.referals {

  @include desktop {
    border: 1px solid $color_lines;
    border-right: none;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 36px;
    border-bottom: 1px solid $color_lines;

    @include desktop {
      height: $k * 36px;
      grid-template-columns: 1fr $k * 210px;
    }

    p {
      display: flex;
      align-items: center;
      padding-left: 12px;
      color: $color_main_100;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;

      @include desktop {
        padding-left: $k * 12px;
        font-size: $k * 12px;
      }


      &:nth-child(2) {
        color: $color_body_50;

        @include desktop {
          padding-left: $k * 64px;
        }
      }
    }
  }

  .list {
    max-height: calc(100vh - 48px - 48px - 36px - 36px - 48px - 8px);
    overflow: auto;

    @include desktop {
      max-height: calc(100vh - $k * (48px + 48px + 36px + 24px + 48px + 12px))
    }

    .item {
      height: 48px;
      border-bottom: 1px solid $color_lines;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include desktop {
        height: $k * 48px;
        grid-template-columns: 1fr $k * 210px;
      }

      .left, .right {
        display: flex;
        align-items: center;
        padding: 0 12px;

        @include desktop {
          padding: 0 $k * 12px;
        }
      }

      .left {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          display: block;
          top: 50%;
          right: 0;
          height: 24px;
          width: 1px;
          transform: translateY(-50%);
          background-color: $color_lines;

          @include desktop {
            height: $k * 24px;
          }
        }

        img {
          display: block;
          width: 32px;
          height: 32px;

          @include desktop {
            width: $k * 32px;
            height: $k * 32px;
          }
        }

        p {
          margin-left: 8px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          text-transform: uppercase;
          color: $color_body_50;
          width: calc(50vw - 2 * 12px - 8px - 32px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @include desktop {
            width: auto;
            margin-left: $k * 8px;
            font-size: $k * 12px;
          }
        }
      }

      .right {

        @include desktop {
          padding-left: $k * 64px;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_main_100;

          @include desktop {
            font-size: $k * 12px;
          }
        }
      }
    }
  }

  .btn {
    margin-top: 8px;
    height: 48px;
    width: 100%;

    @include desktop {
      margin-top: $k * 24px;
      height: $k * 48px;
      width: $k * 318px;
    }
  }


}