@import "../../../assets/styles/app";

.filter {
  position: relative;

  .btn {
    @include button;
    @include centerRow;
    height: 36px;
    width: 93px;
    border-right: 1px solid $color_lines;
    transition: 0.3s;

    @include desktop {
      height: $k * 36px;
      width: $k * 93px;
    }

    svg {

      @include desktop {
        width: $k * 16px;
        height: $k * 16px;
      }

      path {
        transition: 0.3s;
      }
    }

    span {
      margin-left: 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_body_50;
      transition: 0.3s;

      @include desktop {
        margin-left: $k * 8px;
        font-size: $k * 12px;
      }
    }

    &:hover {
      @include desktop {

        svg {
          path {
            fill-opacity: 1;
          }
        }

        span {
          color: rgba(255, 255, 255, 0.8);
        }
      }

    }

    &_menu, &_menu:hover {
      svg {
        path {
          fill-opacity: 1;
        }
      }

      span {
        color: $color_main_100;
      }

    }
  }

  .menu {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 165px;
    transform: translateY(100%);
    background: $color_bg_and_text;
    border: 1px solid $color_lines;
    padding: 12px;

    @include desktop {
      width: $k * 165px;
      padding: $k * 12px;
    }

    .menuBottom {
      margin-top: 12px;
      padding-top: 12px;
      border-top: 1px solid $color_lines;

      @include desktop {
        margin-top: $k * 12px;
        padding-top: $k * 12px;
      }
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 8px;

        @include desktop {
          margin-top: $k * 8px;
        }
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_body_50;

        @include desktop {
          font-size: $k * 12px;
        }
      }

      .btn {
        @include button;
        position: relative;
        width: 16px;
        height: 16px;
        border: 1px solid $color_lines;

        @include desktop {
          width: $k * 16px;
          height: $k * 16px;
        }

        &_selected {

          &::after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            background: $color_main;

            @include desktop {
              width: $k * 6px;
              height: $k * 6px;
            }
          }
        }

      }
    }
  }

  &_light {

    .btn {
      border-right: 1px solid $color_light_version_lines;

      svg {
        path {
          fill-opacity: 1;
          fill: #6C7583;
        }
      }

      span {
        color: $color_light_version_gray;
      }

      &:hover, &_menu {

        svg {
          path {
            fill-opacity: 1;
            fill: #09090A;
          }
        }

        span {
          color: $color_bg_and_text;
        }
      }

    }

    .menu {
      background: $color_light_version_white;
      border: 1px solid $color_light_version_lines;

      .menuBottom {
        border-top: 1px solid $color_light_version_lines;
      }

      .item {

        p {
          color: $color_light_version_gray;
        }

        .btn {
          border: 1px solid $color_light_version_lines;
        }

      }
    }

  }

}