@import "../../../../assets/styles/app";

.confirmedListDesktop {
  @include onlyDesktop();

  .listHeader {
    display: grid;
    grid-template-columns: 1.5fr $k * 116px 1.5fr 1fr 1fr 1fr $k * 96px $k * 156px;
    height: $k * 40px;
    border-bottom: 1px solid $color_lines;

    p {
      font-weight: 400;
      font-size: $k * 12px;
      line-height: 140%;
      color: $color_body_50;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(1) {
        justify-content: flex-start;
        padding-left: $k * 12px;
      }

      &:last-child {
        justify-content: flex-start;
        padding-left: $k * 32px;
      }

    }
  }

  .listBody {
    overflow-y: auto;
  }

}