@import "../../../assets/styles/app";

.trades {

  .tabs {
    display: flex;
    border-bottom: 1px solid $color_lines;

    .tab {
      @include button;
      @include centerColumn;
      padding: 0 12px;
      width: 100%;
      height: 40px;

      @include desktop {
        padding: 0 $k * 12px;
        height: $k * 40px;
      }

      &:not(:last-child) {
        border-right: 1px solid $color_lines;
      }

      @media all and (min-width: 496px) {
        border-right: 1px solid $color_lines;
        flex-direction: row;
        justify-content: space-between;
        width: 165px;
        height: 36px;

        @include desktop {
          width: $k * 165px;
          height: $k * 36px;
        }
      }

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: $color_body_50;
        transition: 0.3s;

        @include desktop {
          font-size: $k * 12px;
        }
      }

      &_selected {

        p:first-child {
          color: $color_main;
        }
      }
    }
  }

  .tradesConfirmedDesktop {
    & > div:nth-child(2) {
      height: calc(100vh - $k * (48px + 72px + 376px + 36px + 40px));
    }
  }
}