@import "../../../assets/styles/app";

.trades {

  .header {
    @include onlyMobile(flex);
    align-items: center;
    height: 36px;
    padding-left: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color_main_100;
    border-bottom: 1px solid $color_lines;
  }

  .tabs {
    height: 40px;
    border-bottom: 1px solid $color_lines;

    @include desktop {
      height: $k * 40px;
      width: $k * 497px;
    }
  }

  .tradesConfirmedDesktop {
    & > div:nth-child(2) {
      height: calc(100vh - $k * (48px + 72px + 376px + 36px + 40px));
    }
  }
}