@import "../../../assets/styles/app";

.rewards {

  .tabs {
    border-bottom: 1px solid $color_lines;
    height: 36px;

    @include desktop {
      height: $k * 36px;
      width: $k * 332px;
    }
  }

}