@import "../../../assets/styles/app";

.rewards {
  max-height: calc(100vh - 48px - 48px - 72px - 62px - 36px - 36px);
  overflow-y: auto;

  @include desktop {
    max-height: unset;
    overflow-y: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $k * 12px;
  }

  .referrals, .points {

    .title {
      height: 36px;
      padding-left: 12px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_main_100;
      border-bottom: 1px solid $color_lines;

      @include desktop {
        height: $k * 36px;
        padding-left: $k * 12px;
        font-size: $k * 12px;
      }
    }

  }

  .referrals {

    .labelAndValue {
      height: 48px;
      border-bottom: 1px solid $color_lines;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include desktop {
        grid-template-columns: 1fr $k * 214px;
        height: $k * 48px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        padding-left: 12px;
        display: flex;
        align-items: center;

        @include desktop {
          font-size: $k * 12px;
          padding-left: $k * 12px;
        }

        &:first-child {
          color: $color_body_50;
        }

        &:last-child {
          position: relative;
          color: $color_main_100;

          @include desktop {
            padding-left: 0;
            justify-content: center;
          }

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 24px;
            transform: translateY(-50%);
            background: $color_lines;

            @include desktop {
              height: $k * 24px;
            }
          }
        }
      }
    }

    .referralsTop {
      border-bottom: 1px solid $color_lines;

      @include desktop {
        border-right: 1px solid $color_lines;
      }

      .codeSection {
        border-bottom: 1px solid $color_lines;
        display: flex;
        flex-direction: column;

        @include desktop {
          flex-direction: row;
        }

        .top {
          height: 48px;
          display: flex;
          border-bottom: 1px solid $color_lines;

          @include desktop {
            flex-grow: 1;
            border-bottom: none;
            height: $k * 48px;
          }

          .code {
            @include centerRow;
            flex-shrink: 0;
            border-right: 1px solid $color_lines;
            height: 100%;
            width: 74px;

            @include desktop {
              width: $k * 96px;
            }

            svg {
              @include desktop {
                width: $k * 16px;
                height: $k * 16px;
              }
            }

            span {
              margin-left: 4px;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              text-transform: uppercase;
              text-align: right;
              color: $color_body_50;

              @include desktop {
                margin-left: $k * 4px;
                font-size: $k * 12px;
              }
            }
          }

          .value {
            flex-grow: 1;
            border-right: 1px solid $color_lines;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 12px;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: $color_main_100;

            @include desktop {
              padding-left: $k * 12px;
              font-size: $k * 12px;
            }
          }

          .copyBtn {
            flex-shrink: 0;
            height: 100%;
            width: 48px;

            @include desktop {
              width: $k * 48px;
            }

            @include desktop {
              border-right: 1px solid $color_lines;
            }

            svg {
              @include desktop {
                width: $k * 16px;
                height: $k * 16px;
              }
            }

          }

        }

        .generateNewBtn {
          height: 48px;

          @include desktop {
            flex-shrink: 0;
            width: $k * 214px;
            height: $k * 48px;
          }
        }
      }

      .claimSection {

        .row {
          height: 48px;
          display: flex;
          border-bottom: 1px solid $color_lines;

          @include desktop {
            height: $k * 48px;
          }

          .left {
            flex-grow: 1;
            border-right: 1px solid $color_lines;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 118px;

            @include desktop {
              grid-template-columns: 1fr $k * 130px;
            }

            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              text-transform: uppercase;

              @include desktop {
                font-size: $k * 12px;
              }


              &:nth-child(1) {
                color: $color_body_50;
                padding-left: 12px;

                @include desktop {
                  padding-left: $k * 12px;
                }
              }

              &:nth-child(2) {
                position: relative;
                color: $color_main_100;
                padding-left: 12px;

                @include desktop {
                  padding-left: 0;
                  @include centerRow;
                }

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  width: 1px;
                  height: 24px;
                  transform: translateY(-50%);
                  background: $color_lines;

                  @include desktop {
                    height: $k * 24px;
                  }
                }
              }
            }
          }

          .claimBtn {
            flex-shrink: 0;
            width: 60px;

            @include desktop {
              width: $k * 85px;
            }
          }
        }
      }

      .celebsReferedBtn {
        width: 100%;
        height: 48px;
        margin-top: 24px;

        @include desktop {
          height: $k * 48px;
          margin-top: $k * 24px;
          width: $k * 318px;
        }
      }

    }

    .referralsBottom {
      border-top: 1px solid $color_lines;
      margin-top: 36px;

      @include desktop {
        margin-top: $k * 12px;
        border-right: 1px solid $color_lines;
      }
    }

  }

  .points {
    margin-top: 36px;
    border-top: 1px solid $color_lines;

    @include desktop {
      margin-top: 0;
      border-top: none;
      border-left: 1px solid $color_lines;
    }

    .list {

      .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 48px;
        border-bottom: 1px solid $color_lines;

        @include desktop {
          height: $k * 48px;
        }

        p {
          display: flex;
          align-items: center;
          padding-left: 12px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_body_50;

          @include desktop {
            padding-left: $k * 12px;
            font-size: $k * 12px;
          }

          &:nth-child(1) {
            text-transform: uppercase;
          }

          &:nth-child(2) {
            color: $color_main_100;

            @include desktop {
              padding-left: 0;
              justify-content: center;
            }
          }
        }

        &:last-child {

          p {

            &:nth-child(2) {
              color: $color_main;
            }

          }
        }
      }


    }

  }

}