@import "../../../assets/styles/app";

.chat {
  background-color: $color_bg_and_text;

  @include desktop {
    border-top: 1px solid $color_lines;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .title {
    @include onlyMobile(flex);
    align-items: center;
    height: 36px;
    padding-left: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color_main_100;
    border-bottom: 1px solid $color_lines;
  }

  .header {
    height: 36px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color_lines;
    position: relative;

    @include desktop {
      height: $k * 36px;
    }

    .tabs {

    }

    .headerRight {
      display: flex;
      align-items: center;
      padding-left: 10px;
      border-left: 1px solid $color_lines;

      @include desktop {
        padding-left: $k * 10px;
      }

      & > svg {
        @include desktop {
          width: $k * 16px;
          height: $k * 16px;
        }
      }

      span {
        margin-left: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        color: $color_body_50;

        @include desktop {
          margin-left: $k * 4px;
          font-size: $k * 12px;
        }
      }

      .icon {
        height: 20px;
        padding: 0 10px;
        border-left: 1px solid $color_lines;
        margin-left: 10px;

        @include desktop {
          height: $k * 20px;
          padding: 0 $k * 10px;
          margin-left: $k * 10px;
        }

        svg {
          @include desktop {
            width: $k * 16px;
            height: $k * 16px;
          }
        }
      }
    }

    .expandBtn {
      @include button;
      @include centerRow;
      @include onlyDesktop();
      position: absolute;
      top: 0;
      right: 8px;
      transform: translateY(-100%);
      height: 16px;
      width: 40px;
      border: 1px solid $color_lines;
      border-bottom: 1px solid $color_bg_and_text;
      background-color: $color_bg_and_text;

      @include desktop {
        right: $k * 8px;
        height: $k * 16px;
        width: $k * 40px;
      }

      svg {
        transform: rotate(-90deg);

        @include desktop {
          width: $k * 7px;
          height: $k * 12px;
        }
      }

      &_expand {
        bottom: 0;
        top: auto;
        transform: translateY(100%);
        border-bottom: 1px solid $color_lines;
        border-top: 1px solid $color_bg_and_text;

        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .comments {
    height: calc(100vh - 48px - 48px - 36px - 36px - 36px);
    overflow-y: auto;

    @include desktop {
      height: calc(100vh - $k * (48px + 486px + 36px + 36px - 4px));
      transition: 0.3s;
    }

    .comment {
      padding: 12px;

      @include desktop {
        padding: $k * 12px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color_lines;
      }

      .commentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          display: flex;
          align-items: center;

          img {
            display: block;
            width: 32px;
            height: 32px;

            @include desktop {
              width: $k * 32px;
              height: $k * 32px;
            }
          }

          p {
            margin-left: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: $color_main_100;

            @include desktop {
              margin-left: $k * 8px;
              font-size: $k * 12px;
            }
          }

        }

        .moreBtn {
          border: 1px solid $color_lines;
          width: 24px;
          height: 24px;

          @include desktop {
            width: $k * 24px;
            height: $k * 24px;
          }

          svg {
            @include desktop {
              width: $k * 16px;
              height: $k * 16px;
            }
          }

        }

      }

      .text {
        margin-top: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_body_50;

        @include desktop {
          margin-top: $k * 8px;
          font-size: $k * 12px;
        }
      }

      .items {
        margin-top: 16px;
        display: flex;

        @include desktop {
          margin-top: $k * 16px;
        }

        .item {
          @include centerRow;
          border: 1px solid $color_lines;
          width: 48px;
          height: 24px;

          @include desktop {
            width: $k * 48px;
            height: $k * 24px;
          }

          &:not(:first-child) {
            margin-left: 4px;

            @include desktop {
              margin-left: $k * 4px;
            }
          }

          span {
            margin-left: 6px;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            text-align: center;
            color: $color_main_100;

            @include desktop {
              margin-left: $k * 6px;
              font-size: $k * 12px;
            }
          }
        }
      }

      .itemsTime {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include desktop {
          margin-top: $k * 4px;
        }

        .left {
          display: flex;

          .item {
            @include centerRow;
            border: 1px solid $color_lines;
            width: 48px;
            height: 24px;

            @include desktop {
              width: $k * 48px;
              height: $k * 24px;
            }

            &:not(:first-child) {
              margin-left: 4px;

              @include desktop {
                margin-left: $k * 4px;
              }
            }

            svg {
              @include desktop {
                width: $k * 16px;
                height: $k * 16px;
              }
            }

            span {
              margin-left: 6px;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              text-align: center;
              color: $color_main_100;

              @include desktop {
                margin-left: $k * 6px;
                font-size: $k * 12px;
              }
            }

            svg:nth-child(2) {
              margin-left: 6px;

              @include desktop {
                margin-left: $k * 6px;
              }
            }
          }
        }

        .time {
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          text-align: right;
          color: $color_body_50;

          @include desktop {
            font-size: $k * 12px;
          }
        }
      }
    }

  }

  .form {
    border-top: 1px solid $color_lines;
    height: 36px;
    display: flex;

    @include desktop {
      height: $k * 36px;
    }

    .fieldWrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 12px;
      padding-right: 8px;

      @include desktop {
        padding-left: $k * 12px;
        padding-right: $k * 8px;
      }

      input {
        flex-grow: 1;
        background: none;
        border: none;
        outline: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_main_100;

        @include desktop {
          font-size: $k * 12px;
        }

        &::placeholder {
          color: $color_body_50;
        }
      }

      .btn {
        @include button;
        @include centerRow;
        border: 1px solid $color_lines;
        width: 24px;
        height: 24px;

        @include desktop {
          width: $k * 24px;
          height: $k * 24px;
        }

        &:not(:first-child) {
          margin-left: 8px;

          @include desktop {
            margin-left: $k * 8px;
          }
        }

        svg {
          @include desktop {
            width: $k * 16px;
            height: $k * 16px;
          }
        }

        span {
          font-weight: 700;
          font-size: 10px;
          text-align: center;
          color: $color_body_50;

          @include desktop {
            font-size: $k * 10px;
          }
        }
      }


    }

    .submitBtn {
      @include button;
      @include centerRow;
      flex-shrink: 0;
      width: 62px;
      border-left: 1px solid $color_lines;

      @include desktop {
        width: $k * 62px;
      }

      span {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: $color_body_50;

        @include desktop {
          font-size: $k * 12px;
        }
      }
    }

  }

  &_expand {

    .comments {
      @include desktop {
        height: calc(100vh - $k * (48px + 36px + 36px));
      }
    }
  }

}