@import "../../../assets/styles/app";

.transaction {
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $color_lines;
  width: 360px;
  height: 36px;
  background: $color_main;
  display: flex;


  &:not(:first-child) {
    margin-top: 8px;
  }

  .body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 12px;

    svg {
      path {
        fill: $color_bg_and_text;
      }
    }

    p {
      margin-left: 4px;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_bg_and_text;
    }
  }


  .closeBtn {
    @include centerRow;
    @include button;
    flex-shrink: 0;
    width: 36px;
    border-left: 1px solid $color_lines;

    svg {
      path {
        fill: $color_bg_and_text;
      }
    }
  }
}
