@import "../../assets/styles/app";

.searchPage {

  .tableMobile {
    @include onlyMobile(flex);
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 48px);
    overflow-y: auto;
    padding: 18px 0;
  }

  .tableDesktop {
    @include onlyDesktop();
    width: $k * 918px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid $color_lines;
    border-right: 1px solid $color_lines;

    .tableHeader {
      display: flex;
      height: $k * 40px;
      border-bottom: 1px solid $color_lines;

      p {
        font-weight: 400;
        font-size: $k * 12px;
        line-height: 140%;
        color: $color_body_50;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          justify-content: flex-start;
          padding-left: $k * 12px;
          width: $k * 229px;
        }

        &:nth-child(2) {
          justify-content: flex-start;
          padding-left: $k * 32px;
          width: $k * 165px;
        }

        &:nth-child(3) {
          width: $k * 116px;
        }

        &:nth-child(4) {
          width: $k * 207px;
        }

        &:nth-child(5) {
          justify-content: flex-start;
          padding-left: $k * 32px;
        }
      }
    }

    .tableBody {
      max-height: calc(100vh - $k * (48px + 40px));
      overflow: auto;

      .row {
        display: flex;
        height: $k * 60px;
        border-bottom: 1px solid $color_lines;

        & > div {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:last-child) {
            position: relative;

            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              height: $k * 20px;
              width: 1px;
              background-color: $color_lines;
            }
          }

          &:nth-child(1) {
            width: 28%;
            justify-content: flex-start;
            padding-left: $k * 12px;
          }

          &:nth-child(2) {
            width: 24%;
          }

          &:nth-child(3) {
            width: 29%;
          }

          &:nth-child(4) {
            width: 19%;
          }

        }
      }
    }
  }
}