@import "../../../../assets/styles/app";

// 240 [116] 258 175 160 181 [96] [156]

.confirmedRow {
  transition: 0.3s;
  height: 56px;
  display: grid;
  grid-template-columns: 1.5fr $k * 116px 1.5fr 1fr 1fr 1fr $k * 96px $k * 156px;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid $color_lines;
  }

  & > div {
    @include centerRow;

    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: $k * 20px;
        background-color: $color_lines;
        transition: 0.3s;
      }
    }
  }

  .infoCell {
    justify-content: flex-start;
    padding-left: $k * 12px;

    .addToFavoriteBtn {
      @include button;
      @include centerRow;
      width: $k * 12px;
      height: $k * 12px;
    }

    img {
      display: block;
      width: $k * 32px;
      height: $k * 32px;
      margin-left: $k * 12px;
    }

    .info {
      margin-left: $k * 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .infoTop {
        display: flex;
        align-items: center;

        p {
          font-weight: 400;
          font-size: $k * 12px;
          line-height: 140%;
          color: $color_main_100;
        }

        & > svg {
          width: $k * 12px;
          height: $k * 12px;
          margin-left: $k * 4px;
        }

        a {
          @include centerRow;
          width: $k * 12px;
          height: $k * 12px;
          margin-left: $k * 4px;
        }
      }

      & > p {
        font-weight: 400;
        font-size: $k * 12px;
        line-height: 140%;
        color: $color_body_50;
      }
    }

  }

  .created {

    svg {
      width: $k * 12px;
      height: $k * 12px;
    }

    span {
      margin-left: $k * 4px;
      font-weight: 400;
      font-size: $k * 12px;
      line-height: 140%;
      color: $color_body_50;
    }
  }

  .followers {
    .followerItem {
      padding: $k * 4px $k * 8px;
      border: 1px solid $color_lines;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: $k * 4px;
      }

      svg {
        width: $k * 12px;
        height: $k * 12px;
      }

      span {
        margin-left: $k * 4px;
        font-weight: 400;
        font-size: $k * 12px;
        line-height: 140%;
        text-align: center;
        color: $color_main_100;
      }
    }
  }

  .marketcap, .currentPrice {

    svg {
      width: $k * 16px;
      height: $k * 16px;

      path {
        fill: #FFF;
        fill-opacity: 0.5;
      }
    }

    p {
      margin-left: $k * 4px;
    }

    span {
      font-weight: 400;
      font-size: $k * 12px;
      line-height: 140%;
      color: $color_main_100;

      &:nth-child(2) {
        color: $color_body_50;
      }
    }
  }

  .statistics {

    .statisticsItem {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: $k * 24px;
      }

      svg {
        width: $k * 12px;
        height: $k * 12px;

        path {
          fill: #FFF;
          fill-opacity: 0.5;
        }
      }

      span {
        margin-left: $k * 4px;
        font-weight: 400;
        font-size: $k * 12px;
        line-height: 140%;
        color: $color_body_50;
      }
    }
  }

  .share {

    .shareBtn {
      width: $k * 32px;
      height: $k * 32px;
      border: 1px solid $color_lines;

      svg {
        width: $k * 16px;
        height: $k * 16px;

        path {
          fill-opacity: 1;
        }
      }
    }

  }

  .buy {
    padding-right: $k * 12px;
    justify-content: flex-end;

    .buyBtn {
      border: 1px solid $color_lines;
      width: $k * 113px;
      height: $k * 32px;
    }

  }

}