@import "../../../../assets/styles/app";


.unconfirmedRow {
  transition: 0.3s;

  &:not(:last-child) {
    border-bottom: 1px solid $color_lines;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 150px 185px;
    align-items: center;
    padding: 12px 0;

    & > div {
      @include centerRow;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      &:not(:last-child) {
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 1px;
          height: 20px;
          background-color: $color_lines;
          transition: 0.3s;
        }
      }
    }

    .listed {
      padding-left: 12px;

      .starBtn {
        @include button;
        width: 12px;
        height: 12px;
      }

      img {
        margin-left: 12px;
        display: block;
        width: 32px;
        height: 32px;
      }

      p {
        margin-left: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_main_100;
      }

      a {
        @include centerRow;
        width: 12px;
        height: 12px;
        margin-left: 4px;
      }


    }

    .followers {
      .followerItem {
        padding: 4px 8px;
        border: 1px solid $color_lines;
        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-left: 4px;
        }

        svg {
          width: 12px;
          height: 12px;
        }

        span {
          margin-left: 4px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          text-align: center;
          color: $color_main_100;
        }
      }
    }

    .pledgeAmount {

      svg {
        width: 16px;
        height: 16px;

        path {
          fill: #FFF;
          fill-opacity: 0.5;
        }
      }

      p {
        margin-left: 4px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_main_100;

        &:nth-child(2) {
          color: $color_body_50;
        }
      }
    }

    .statistics {

      .statisticsItem {
        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-left: 24px;
        }

        svg {
          path {
            fill: #FFF;
            fill-opacity: 0.5;
          }
        }

        span {
          margin-left: 4px;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_body_50;
        }
      }
    }

    .share {

      .shareBtn {
        width: 32px;
        height: 32px;
        border: 1px solid $color_lines;

        svg {
          path {
            fill-opacity: 1;
          }
        }
      }

    }

    .pledge {
      padding-right: 12px;

      .quickPledgeBtn {
        border: 1px solid $color_lines;
        width: 113px;
        height: 32px;
      }

    }

  }


  &_light {

    &:not(:last-child) {
      border-color: 1px solid $color_light_version_lines;
    }

  }

}