$color_main_100: #fff;
$color_body_50: rgba(255, 255, 255, 0.5);
$color_white_3: rgba(255, 255, 255, 0.03);
$color_main: #d3f932;
$color_main_10: rgba(211, 249, 50, 0.1);
$color_red: #ff3d00;
$color_green: #ade754;
$color_lines: #1f2022;
$color_bg_and_text: #09090a;
$color_pop_up_bg: rgba(0, 0, 0, 0.8);
$color_test_abhishek: #d3f932;
$color_test_abhishek2: rgba(211, 249, 50, 0.5);
$color_test_abhishek3: rgba(211, 249, 50, 0.1);

$color_light_version_white: #fdfdfd;
$color_light_version_black: #09090a;
$color_light_version_gray: #6c7583;
$color_light_version_50: rgba(106, 117, 133, 0.5);
$color_light_version_light_gray: #eff0f4;
$color_light_version_lines: #dcdde5;
$color_light_version_green: #cdf4a7;
$color_light_version_red: #f3c9c9;
$color_light_version_main_10: rgba(211, 249, 50, 0.1);
$color_light_version_pop_up_bg: rgba(108, 117, 131, 0.16);

$k: 1.2;