@import "../../assets/styles/app";

.sidebar {
  @include onlyDesktop(flex);
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: $k * 48px;
  flex-shrink: 0;
  border-right: 1px solid $color_lines;

  .favorites {
    align-self: stretch;
    padding-top: $k * 8px;
    padding-bottom: $k * 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - $k * (48px + 92px + 212px + 12px));
    overflow-y: auto;
    //scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 3px;
      background-color: #363636;
    }

    &::-webkit-scrollbar-track {
      background-color: #3a3a3a;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #FFF;
    }

    .singles {
      display: flex;
      flex-direction: column;
    }
  }

  .links {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: $k * 12px;
    padding-bottom: $k * 8px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: $k * 32px;
      background: $color_lines;
    }

    .link {
      border: 1px solid $color_lines;
      background-color: transparent;
      width: $k * 32px;
      height: $k * 32px;
      transition: 0.3s;

      &:not(:first-child) {
        margin-top: $k * 8px;
      }

      svg {
        width: $k * 16px;
        height: $k * 16px;

        path {
          transition: 0.3s;
        }
      }

      &_selected {
        background-color: $color_main;

        svg {
          path {
            fill-opacity: 1;
            fill: #09090A;
          }
        }
      }
    }
  }


  .socialLinks {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: $k * 12px;
    padding-bottom: $k * 8px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: $k * 32px;
      background: $color_lines;
    }

    .link {
      @include centerRow;
      width: $k * 32px;
      height: $k * 32px;
      border: 1px solid $color_lines;
      background-color: transparent;
      transition: 0.3s;

      &:not(:first-child) {
        margin-top: $k * 8px;
      }

      &:hover {
        background-color: #222;
      }

      svg {
        width: $k * 16px;
        height: $k * 16px;
      }
    }
  }
}